{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  
   
    <title>Htmx Django</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/htmx.org@1.8.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->

    <link href="{% static 'main.css' %}" rel="stylesheet"/>
    <script src="{% static 'htmx.min.js' %}"></script>

</head>

<body id="body">
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">

    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Htmx Django</a>
  
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    
    <ul class="navbar-nav px-3">
       <li class="nav-item text-nowrap">
        {% if user.is_authenticated %}
        <a class="nav-link" href="#">{{user.username|capfirst }}</a>
      </li>
      
    </ul>
     {% else %}
  
       {% endif %}
  </nav>
  <br/>  <br/>
    {% block content %}




    {% endblock content %}
    

    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })

  
    </script>
     <script src="{% static 'alpine.js' %}"></script>
</body>

</html> 
