{% load crispy_forms_tags %}


<div class="container-fluid" >
   <div class="row" >
<div class="col-xs-12 col-sm-6 col-md-6">
<form method="Post" hx-post="{% url 'add-student' %}">
      {% csrf_token %}
      {{ form.student_firstname|as_crispy_field }}
      {{ form.student_lastname|as_crispy_field }}
      {{ form.student_email|as_crispy_field }}
      {{ form.student_sex|as_crispy_field }}
    <button 
    type="submit" 
    hx-post="{% url 'add-student' %}"
    hx-swap="innerHtml" 
    hx-target="#cover"  
   class="btn btn-success">Submit</button>
  
     <button hx-get="{% url 'home' %}" 
                hx-swap='innerHTML' 
                hx-target="#body"   
                class="btn btn-info">
                return      
        </button> </form>
</div>
   </div>
</div>
